.grid-snake {
  margin-left: 102px;
  margin-top: 20px;
  width: 517px;
  height: 391px;
  border-color: rgb(168, 84, 84);
  border-style: double;
  display: flex;
  flex-wrap: wrap;
}

.grid-snake div {
  width: 51px;
  height: 38px;
}

.snake {
  border-style: groove;
  background: rgb(53, 182, 117);
}

.apple {
  border-style: groove;
  background: rgb(207, 45, 45);
  border-radius: 40px;
}

.popup {
  background: rgb(32, 31, 31);
  width: 100px;
  height: 100px;
  position: fixed;
  top: 100px;
  left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
