.game-cover {
  text-decoration: none;
  border-color: rgb(36, 37, 41);
  border-style: groove;
  color: rgb(36, 37, 41);
  width: 320px;
  height: 300px;
  display: block;
  border-radius: 15px;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
      14 0,
    pointer;
  text-align: center;
  position: relative;
  border-radius: 15px;
  transition: 1s;
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 2px #0e0e0e;
  background-size: cover;
}
