#root {
  background-image: url("../src/assets//BdNew4.png");
  background-size: cover;
}

body {
  margin: 0;
  font-family: "Press Start 2P";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  box-sizing: content-box;
  max-width: 1180px;
  margin: 0 auto;
  color: white;
  filter: none;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}
