#root {
  background-image: url("../src/assets//BdNew4.png");
  background-size: cover;
}

body {
  margin: 0;
  font-family: "Press Start 2P";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
}

a {
  color: white;
  text-decoration: none;
}
